{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    {% for news in list %}
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3><a href="{{ path('app_news_view', {'id': news.id})}}">{{ news.title }}</a></h3>
                        <p>{{ "by " ~ news.author }}</p>
                        <p>{{ "Le : " ~ news.created | date("j/n/Y") }}</p>
                        <p>{{ news.content }}</p>
                        <p>
                            {% if is_granted('news.action.update', news) %}
                            <a href="{{ path('app_news_edit',{'id': news.id }) }}"
                              class="btn btn-primary" role="button">Modifier</a>
                            {% endif %}
                            {% if is_granted('news.action.delete, news')%}
                            <a href="{{ path('app_news_remove',{'id': news.id }) }}"
                               class="btn btn-default" role="button">Supprimer</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
    {% else %}
        <p>Pas de news.</p>
    {% endfor %}
</div>
{% endblock %}
